* {
    font-family: 'Press Start 2P', cursive;
  }

  body {
    background-color: black;
    background-image: url("FadedColorsBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: hotpink;
  }
   
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    padding: 20px;
    margin: 30px;
  }

  .grid {
    display: grid;
    grid-template-columns: 320px 200px;
  }
   
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
   
  .game-board {
    border: solid 2px;
  }
   
  .play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
  }